AUTOMOD_INSTANCE_ID=bot2
CDP_DEBUG_PORT=9224
CHROME_USER_DATA=automod-chrome-bot2
SIRLOIN_DATA_DIR=SirLoin_Data_bot2
AUTOMOD_BOT_NICK=Enforcer2
AUTOMOD_LOGIN_EMAIL=account2@example.com
AUTOMOD_LOGIN_PASS=replace_me
